body {
    background-color: rgb(33, 122, 33);
    font-family: Georgia;
    overflow: hidden;
}

h1 {
    color: rgba(255, 255, 255, 0.86);
    text-align: center;
    padding-top: 20px;

}

h4 {
    color: rgba(255, 255, 255, 0.86);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#map {
    height: 600px;
    width: 60%;
    margin: auto;
    padding-top: 100px;
}

.leaflet-popup-content-wrapper {
    display: block;
    width: auto;
    height: auto;
    background-color: rgb(107, 173, 9);
}

.leaflet-popup-content {
    display: block;
    text-align: center;
    color: white;
  }

.leaflet-popup-content img {  
    display: block; 
    margin-left: auto;
    margin-right: auto;
    max-width: 70vw;
    max-height: 60vw;
}



